/* -------------RESETS------------- */
/* /Resets are used for overwriting default html tag properties/  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
  background-color: var(--clr-brown);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 80 px;
  /* background-color: rgb(7, 27, 29); */
}

/* HEADER */

header .header_wrapper {
  display: flex;
  gap: 25rem;
  align-items: center;
  z-index: 2;
}

header .header_logo a {
  display: flex;
  align-items: center;
  gap: 5rem;
}
header .header_logo h2 {
  font-size: 2rem;
  color: var(--clr-light);
  font-weight: bold;
}
header .header_nav ul {
  display: flex;
  gap: 5rem;
}
header .header_nav ul li a {
  color: var(--clr-light);
}
header {
  padding: 2rem 0;
}
@media screen and (max-width: 500px) {
  header .header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header_nav {
    background-color: var(--clr-gray);
    position: absolute;
    top: 11rem;
    right: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease;
  }
  header {
    background-color: var(--clr-gray);
  }
  header .header_nav ul {
    display: flex;
    flex-direction: column;
    transform: translateY(-15rem);
  }
  header .header_nav ul li {
    font-size: 3rem;
  }
  header .toggle_menu {
    display: block;
  }
}

/* toggle  */
.toggle {
  display: none;
}
header .toggle {
  display: none;
  position: absolute;
  top: 5.2rem;
  right: 3rem;
  cursor: pointer;
}
header .toggle_menu {
  display: block;
  position: absolute;
  right: 3rem;
  top: 5.2rem;
}
header .toggle_menu span {
  width: 3rem;
  height: 0.5rem;
  background-color: var(--clr-light);
  display: block;
  border-radius: 20rem;
  transition: 0.5s ease;
}
header .toggle_menu span:nth-child(2) {
  margin: 0.5rem 0;
}
header .toggle_menu.open span:first-child {
  width: 3rem;
  display: flex;
  justify-self: flex-end;
  transform: translate(3px, 4px) rotate(225deg);
  transition: 0.5s ease;
}
header .toggle_menu.open span:last-child {
  width: 2rem;
  display: flex;
  justify-self: flex-end;
  transform: translate(3px, -4px) rotate(-225deg);
  transition: 0.5s ease;
}
header .header_open open {
  right: 0;
  transition: 0.5s ease;
}
/* Banner */
.banner {
  padding: 0%;
}
.banner .banner_text {
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 20rem 0;
  margin-left: 15rem;
}
.banner .banner_text h1 {
  font-size: 5rem;
  font-weight: bold;
  width: 35rem;
}
.banner .banner_text span {
  color: var(--clr-primary);
}
.banner .banner_text p {
  width: 40rem;
  color: var(--clr-light);
}
.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: var(--clr-primary);
  width: 15rem;
  border: 1px solid var(--clr-dark);
  border-radius: 5rem;

  text-align: center;
}
.banner .banner_text a {
  color: var(--clr-light);
}
.banner .banner_slider {
  margin: -12rem 0;
}
:root {
  --clr-dark: #120f0a;
  --clr-light: #fff;
  --clr-primary: #ffa700;
  --clr-gray: #312d26;
  --clr-brown: #262016;
}
.banner .banner_img img {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .banner .banner_text {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .banner .banner_text h1 {
    text-align: center;
  }
  .banner .banner_text p {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .banner .banner_slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner_img img {
    display: none;
  }
}
/* about */

.about {
  padding: 30rem 0;
}
.about .about_wrapper p {
  color: var(--clr-light);
  width: 40rem;
  text-align: justify;
}
.about .about_wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr 100rem;
  gap: 5rem;
  margin-left: 15rem;
}
.about .about_wrapper h3 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: bold;
}
.about .about_mid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about .about_end {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about .about_end a {
  position: relative;
  top: 20px;
  color: var(--clr-light);
}
@media screen and (max-width: 500px) {
  .about .about_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .about .about_wrapper h3 {
    text-align: justify;
  }
  .about .about_wrapper p {
    text-align: justify;
  }
  .about .about_end a {
    display: flex;
    justify-content: center;
  }
}
/* scale  */

.scale {
  padding: 8rem 0;
}
.scale .scale_wrapper {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scale .scale_wrapper .scale_img img {
  width: 30rem;
  transition: 0.5s ease;
}

.scale .scale_wrapper .scale_img img:hover {
  width: 40rem;
  transition: 0.5s ease;
}
@media screen and (max-width: 500px) {
  .scale .scale_wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 2fr;
    margin: 0 auto;
    padding: 5rem;
  }
  .scale .scale_wrapper .scale_img img {
    width: 20rem;
    transition: 0.5s ease;
    border-radius: 1rem;
  }
  .scale .scale_wrapper .scale_img img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
}
/* programs */
.programs {
  padding: 20rem 0;
}

.programs .program_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-left: 15rem;
}

.programs .program_wrapper p {
  color: var(--clr-light);
  width: 100rem;
  margin-top: auto;
  text-align: justify;
}

.programs .program_wrapper a {
  color: var(--clr-light);
}

.programs .program_left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.programs .program_wrapper h3 {
  color: var(--clr-primary);
  font-size: 2rem;
  font-weight: bold;
}

.programs .program_wrapper h2 {
  color: var(--clr-light);
  font-size: 4rem;
  font-weight: bold;
}

.programs .program_wrapper .scale_imgr img {
  width: 25rem;
  margin-top: 2rem;
}

#p1 {
  color: #cccac6;
}
@media screen and (max-width: 500px) {
  .programs .program_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    align-items: center;
  }
  .programs .program_wrapper h2 {
    text-align: left;
    justify-content: center;
    color: var(--clr-light);
    font-size: 3rem;
    font-weight: bold;
  }
  .programs .text h3 {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    text-align: left;
  }
  .programs .text {
    padding: 1rem;
  }
  .programs .program_left {
    text-align: justify;
    align-items: center;
  }
  .programs .program_left p {
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 0 30rem;
  }
  .programs .program_right {
    display: flex;
    flex-direction: row;
  }
  .programs .program_wrapper .scale_imgr img {
    width: 22.5rem;
    margin-top: 2rem;
  }
}
/* EVENTS */

.events {
  background-color: var(--clr-gray);
  border-radius: 0 15rem 0 0;
  padding: 10rem;
}

.events h2 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.events .events_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
}

.events_card {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.events_card img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transition: 0.5s ease;
}
.events_card:hover img {
  transform: scale(1.2);
  height: 25rem;
  object-fit: cover;
  transition: 0.5s ease;
}
.events_card:hover .card_details {
  height: 75%;
  transition: 0.5s ease;
}

.card_details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  left: 3.5rem;
  width: 28rem;
  padding: 0 2rem;
  background-color: var(--clr-light);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease;
}
.card_details h5 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin-bottom: 3rem;
}
.card_details p {
  margin-bottom: 3rem;
  text-align: justify;
}
.card_details a {
  color: var(--clr-primary);
  font-weight: bold;
  font-style: italic;
}
@media screen and (max-width: 500px) {
  .events {
    padding: 5rem;
    border-radius: 0 10rem 0 0;
  }
  .events .events_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3rem;
  }
  .events_card:hover img {
    height: 12.5rem;
  }
  .events_card:hover .card_details {
    height: 80%;
    transition: 0.5s ease;
  }
  .card_details {
    left: 1rem;
    width: 15.5rem;
    padding: 0 1rem;
  }
  .card_details h5 {
    font-size: x-small;
    font-weight: bold;
    line-height: 0.5rem;
    text-align: justify;
  }
  .card_details p {
    font-size: xx-small;
    margin-bottom: 0.5rem;
    text-align: justify;
  }
}

/* newsletter  */
.newsletter {
  padding: 10rem 0;
  background-color: var(--clr-dark);
}
.newsletter .newsletter_wrapper {
  display: grid;
  grid-template-columns: 50rem 1fr;
  gap: 10rem;
  align-items: center;
}
.newsletter .newsletter_left h2 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.newsletter .newsletter_left input {
  padding: 2rem 2rem;
  border: none;
  border-radius: 3rem;
  width: 90%;
  background-color: var(--clr-gray);
  color: var(--clr-light);
}
.newsletter .newsletter_left input:placeholder {
  color: var(--clr-light);
  outline: none;
}
.newsletter .newsletter_left input:fucos,
.newsletter .newsletter_left input:enable {
  color: var(--clr-light);
  outline: none;
}
.newsletter .newsletter_input {
  background-color: var(--clr-gray);
  border-radius: 3rem;
}
.newsletter .newsletter_input a {
  background-color: var(--clr-primary);
  padding: 1rem;
  border-radius: 50%;
  color: var(--clr-light);
}
.newsletter .newsletter_right {
  text-align: right;
}
.newsletter .newsletter_right {
  color: var(--clr-light);
}
.newsletter .newsletter_right h2 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0;
}

/* footer  */
footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 2rem 0;
}
footer .footer_wrapper {
  border-top: 2px solid var(--clr-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
footer ul {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.footer .footer_nav ul li a {
  color: var(--clr-light);
  font-size: 1.4rem;
}

footer ul li a {
  color: var(--clr-light);
  font-size: 1.4rem;
}
footer .footer_social {
  display: flex;
  gap: 3rem;
  font-size: 3rem;
}
footer .footer_social li {
  background-color: var(--clr-gray);
  padding: 1rem 1.5rem;
  border-radius: 100%;
}
@media screen and (max-width: 500px) {
  .newsletter {
    padding: 5rem 0;
    background-color: var(--clr-dark);
  }
  .newsletter .newsletter_wrapper {
    display: contents;
  }
  footer .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .newsletter .newsletter_left input {
    padding: 2rem 2rem;
    border: none;
    border-radius: 3rem;
    width: 90%;
    background-color: var(--clr-gray);
    color: var(--clr-light);
  }
  .newsletter .newsletter_input {
    background-color: var(--clr-gray);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 7rem;
  }
  .newsletter .newsletter_input a i {
    background-color: var(--clr-primary);
    padding: 1.5rem;
    border-radius: 5rem;
    color: var(--clr-light);
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
  }
  .newsletter .newsletter_right {
    text-align: center;
    padding: 2rem;
  }
  .newsletter .newsletter_right h2 {
    color: var(--clr-primary);
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5rem 0;
  }
  footer ul {
    display: flex;
    gap: 3rem;
    flex-direction: row;
  }
  footer .footer_social {
    display: flex;
    gap: 3rem;
    font-size: 3rem;
  }
  footer .footer_social li {
    background-color: var(--clr-gray);
    padding: 1rem 1.5rem;
    border-radius: 100%;
  }
  .newsletter .newsletter_left h2 {
    display: flex;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
}
